/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: collapse;
}
td,
th {
  padding: 0; /* Remove default padding */
}

ol {
  list-style: decimal;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p > br {
  display: block;
  content: " ";
  margin-top: 1rem;
}

.template-question {
  @apply px-2 py-1 text-xs sm:text-base text-center border border-black rounded-full bg-white;
}

/* div {
  border: 1px solid black;
  margin: 1px;
} */
